<section id="create-page">
    <div class="createSection">
        <div class="info" style="background-color: white;">
            <h2>After each vacation abroad, I make a list</h2>
        </div>

        <form action="/movies/create" method="POST" class="createForm">
            <h2>Add Excursion</h2>
            <ul class="noBullet">
                <li>
                    <label for="place" style="color: black;">Place:</label>
                    <input type="text" class="inputFields" id="place" name="place"/>
                </li>
                <li>
                    <label for="transport"></label>
                    <select id="transport" class="inputFields" name="transport">
                        <option value="">Select Transport</option>
                        <option value="tv-show" style="color: black;">Airplane</option>
                        <option value="animation" style="color: black;">Auto</option>
                        <option value="movie" style="color: black;">Ship</option>
                        <option value="documentary" style="color: black;">Train</option>
                        <option value="short-film" style="color: black;">Bus</option>
                    </select>
                </li>
                <li>
                    <label for="price" style="color: black;">Price:</label>
                    <input type="text" class="inputFields" id="price" name="price"/>
                </li>
                <li>
                    <label for="purpose" style="color: black;">Purpose:</label>
                    <input type="text" class="inputFields" id="purpose" name="purpose" />
                </li>
                <li>
                    <label for="date" style="color: black;">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" />
                </li>
                <li>
                    <label for="image" style="color: black;">Image Url:</label>
                    <input type="text" class="inputFields" id="image" name="imageUrl"  />
                </li>
                <li>
                    <label for="image" style="color: black;">Rating:</label>
                    <input type="text" class="inputFields" id="rating" name="rating" />
                </li>
                <li>
                    <label for="description" style="color: black;">Description:</label>
                    <textarea id="description" class="inputFields" name="description"></textarea>
                </li>

                <li id="center-btn">
                    <button id="create-btn">Add Excursion</button>
                </li>
            </ul>
        </form>


    </div>
</section>